RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://admin.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forest.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forest.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forestry.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forestry.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ipr.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ipr.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://main.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://main.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://slm.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://slm.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://survey.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://survey.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maintainance.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maintainance.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forest.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forest.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forestry.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forestry.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ipr.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ipr.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.main.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.main.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.slm.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.slm.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.survey.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.survey.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maintainance.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maintainance.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forest.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forest.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forestry.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forestry.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ipr.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ipr.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://main.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://main.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://slm.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://slm.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://survey.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://survey.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://maintainance.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://maintainance.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forest.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forest.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forestry.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forestry.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ipr.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ipr.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.main.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.main.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.slm.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.slm.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.survey.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.survey.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.bgfticketing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.maintainance.bgfticketing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.maintainance.bgfticketing.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

